<div>
    <h3>Posts</h3>

    @if(this.PostItems == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Excerpt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in this.PostItems)
                {
                    <tr>
                        <td>@post.DatePublished.ToString()</td>
                        <td>@post.Author.Name</td>
                        <td><a href="@post.Url">@post.Title</a></td>
                        <td>@((MarkupString)post.Excerpt)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
